<div [ngClass]="{'navbar-container':true,'navbar-shadow':scrolled}">
  <div class="navbar-logo">
    <a routerLink="/">Cartlog</a>
  </div>
  <div class="navbar-search">
    <div class="p-input-icon-left">
      <div class="formContainer">
        <input type="text" class="searchInput" placeholder="Search products" [(ngModel)] = "searchTerm" (input)="onSearch($event)">
        <i class="pi pi-search searchIcon"></i>
      </div>

      <div class="overlay" *ngIf="isSuggested" (click)="handleClick('overlay')"></div>
      <div class="autosuggestion-section" *ngIf="isSuggested && searchResult.length>0">
        <ul class="autosuggestion-lists">
          <li class="autosuggestion-item" *ngFor="let item of searchResult">
            <a (click)="handleClick('route',item)">
              <img [src]="item.images[0]" alt="" class="search-img">
              <p>{{item.name}}</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-profile desktopOptions">
    <a routerLink="wishlist">
      <div class="wishlist-wrapper">
        <p-avatar icon="pi pi-heart" pBadge value="4" severity="success" styleClass="mr-2" [style]="styleBadge" shape="circle"></p-avatar>
        <span *ngIf="wishlist.length">{{wishlist.length}}</span>
      </div>
    </a>
    <div class="dropdown-wrapper">
      <p-avatar icon="pi pi-user" pBadge value="4" severity="success" styleClass="mr-2" [style]="styleBadge"
      shape="circle" (click)="toggleDropdown()"></p-avatar>
      <ul class="profile-dropdown" *ngIf="isDropdownOpen">
        <li class="dropdown-options">Profile</li>
        <li class="dropdown-options">Orders</li>
        <li class="dropdown-options">Address & cards</li>
      </ul>
    </div>
    <div class="wishlist-wrapper">
      <a routerLink="/cart">
        <p-avatar icon="pi pi-cart-plus" pBadge value="4" severity="success" styleClass="mr-2" [style]="styleBadge"
        shape="circle"></p-avatar>
        <span *ngIf="cart.length>0">{{cart.length}}</span>
      </a>
    </div>
  </div>
  <div class="navbar-profile mobileOptions">
    <p-avatar icon="pi pi-bars" pBadge value="4" severity="success" styleClass="mr-2" [style]="styleBadge"
      shape="circle" (click)="openCart()"></p-avatar>
  </div>

  <!-- Slider -->
  <!-- <div class="slider">
    <p-dialog header="Cart Items" [(visible)]="isCartOpen" [modal]="true" [style]="rightsheetStyle" [draggable]="false"
      [resizable]="false" [position]="position">
      <div class="empty-cart" *ngIf="cart.length === 0">
        <p>Your Cart is Empty</p>
        <img src="../../../assets/empty-cart-1.svg" alt="">
      </div>
      <div class="item-cart" *ngIf="cart.length > 0">
        <p (click)="navigateToCart()">Go to Cart</p>
        <app-product-grid [data]="cart" gridlayout="list" [location]="'order'" [fromCart]="true"></app-product-grid>
      </div>
      <div class="cart-total">
        <p (click)="cartTotal()">Cart total : <span>₹ {{totalCartValue}}</span></p>
        <button *ngIf="totalCartValue>0" [disabled]="totalCartValue===0">Buy</button>
      </div>
    </p-dialog>
  </div> -->

</div>