<div class="placed-container">
  <div class="placed-text">
    <div class="placed-title">Thank you for your purchase!</div>
    <div class="placed-subtext">Your order will be processed. We will notify you by email once your order has been shipped</div>
    <div class="placed-billing-address">
      <div class="billing-title">Billing address</div>
      <div class="billing-wrapper">
        <div class="billing-section">
          <p class="billing-property">Name</p>
          <p class="billing-value">Jane smith</p>
        </div>
        <div class="billing-section">
          <p class="billing-property">Address</p>
          <p class="billing-value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, minus beatae. Tempora praesentium accusantium alias?</p>
        </div>
        <div class="billing-section">
          <p class="billing-property">Phone</p>
          <p class="billing-value">1111111111</p>
        </div>
        <div class="billing-section">
          <p class="billing-property">Email</p>
          <p class="billing-value">email@email.com</p>
        </div>
      </div>
      <div class="all-orders">All Order's</div>
    </div>
  </div>
  <div class="placed-reciept">
    <div class="receipt">
      <div class="style-div"></div>
      <div class="receipt-list">
        <div class="receipt-header">
          <div class="receipt-title">Order Summary</div>
          <div class="receipt-details">
            <div class="receipt-detail">
              <p class="receipt-subheading">Date</p>
              <p class="receipt-subheading-value">02 May 2023</p>
            </div>
            <div class="receipt-detail">
              <p class="receipt-subheading">Order ID</p>
              <p class="receipt-subheading-value">CRTLG15X57895GG</p>
            </div>
            <div class="receipt-detail">
              <p class="receipt-subheading">Payment Method</p>
              <p class="receipt-subheading-value">Mastercard</p>
            </div>
          </div>
        </div>
        <div class="side-curve side-curve-1"></div>
        <div class="side-curve side-curve-2"></div>
        <div class="receipt-body">
          <div class="receipt-body-section">
            <app-list-view></app-list-view>
            <app-list-view></app-list-view>
            <app-list-view></app-list-view>
          </div>
          <div class="receipt-body-section">
            <div class="receipt-subtotal-section">
              <div class="receipt-subtotal-item">
                <p class="receipt-subtotal-value">Sub Total</p>
                <p class="receipt-subtotal-value">₹0.99</p>
              </div>
              <div class="receipt-subtotal-item">
                <p class="receipt-subtotal-value">Shipping</p>
                <p class="receipt-subtotal-value">₹0.99</p>
              </div>
              <div class="receipt-subtotal-item">
                <p class="receipt-subtotal-value">Tax</p>
                <p class="receipt-subtotal-value">₹0.99</p>
              </div>
            </div>
          </div>
          <div class="receipt-order-total">
            <p class="receipt-order-item">Order Total</p>
            <p class="receipt-order-item">₹1000</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
