<div class="placed-container">
  <div class="placed-text">
    <div class="placed-title">Thank you for your purchase!</div>
    <div class="placed-subtext">Your order will be processed. We will notify you by email once your order has been shipped</div>
    <div class="placed-billing-address">
      <div class="billing-title">Billing address</div>
      <div class="billing-wrapper">
        <div class="billing-section">
          <p class="billing-property">Name</p>
          <p class="billing-value">Jane smith</p>
        </div>
        <div class="billing-section">
          <p class="billing-property">Address</p>
          <p class="billing-value">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, minus beatae. Tempora praesentium accusantium alias?</p>
        </div>
        <div class="billing-section">
          <p class="billing-property">Phone</p>
          <p class="billing-value">1111111111</p>
        </div>
        <div class="billing-section">
          <p class="billing-property">Email</p>
          <p class="billing-value">email@email.com</p>
        </div>
      </div>
      <div class="all-orders">All Order's</div>
    </div>
  </div>
  <div class="placed-reciept">
    <div class="receipt">
      <div class="receipt-list">
        <div class="receipt-item">
          <div class="receipt-label">Milk</div>
          <div class="receipt-value">0.99</div>
        </div>
        <div class="receipt-item">
          <div class="receipt-label">Eggs</div>
          <div class="receipt-value">0.99</div>
        </div>
        <div class="receipt-item">
          <div class="receipt-label">Bread</div>
          <div class="receipt-value">0.49</div>
        </div>
        <div class="receipt-item">
          <div class="receipt-label">Water</div>
          <div class="receipt-value">0.49</div>
        </div>
        <div class="receipt-item">
          <div class="receipt-label">Cereal</div>
          <div class="receipt-value">0.99</div>
        </div> 
      </div>
    </div>
    
  </div>
</div>
